* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font, NotoSans Nerd Font;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @primary;
}

window#waybar.topBar {
}

window#waybar.bottomBar {
}

tooltip {
  background: @secondary;
  border: 1px solid @primary;
}

tooltip label {
  color: @primary;
}

#workspaces button {
    padding: 2px 5px;
    background: @secondary;
    color: @primary;
    border-radius: 10px;
}

#workspaces button.active {
    background: @primary;
    color: @secondary;
    font-weight: bold;
}

#mode, #clock, #battery {
    padding: 0 10px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
