* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font, NotoSans Nerd Font;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @foreground;
}

tooltip {
  background: @background;
  border: 1px solid @active_border_color;
}

tooltip label {
  color: @primary;
}

#workspaces button {
    padding: 0 5px;
    background: @background;
    color: @foreground;
    border-radius: 10px;
    margin-left: 10px;
}

#workspaces button.active {
    background: @selection_background;
    color: @selection_foreground;
    font-weight: bold;
}

.topBar .modules-left, .modules-center, .modules-right {
    padding: 0 5px;
    background: @selection_background;
    color: @selection_foreground;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

#mode, #clock, #battery {
    padding: 0 10px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
